/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.buttonStart{
	-fx-text-fill: rgb(255, 0, 0);
}

#textArea{
	-fx-font-size: 20px;
	-fx-border-radius: 10px;
}

#ctrlText{
	-fx-font-size: 20px;
	-fx-border-color: rgba(130, 130, 130, 0.5);
	-fx-border-width: 5px;
}

#themeList{
	-fx-font-size: 14px;

}

.title{
	-fx-text-fill: #4682b4;
	-fx-font-size: 30px;
}